<mat-toolbar>
  <span>{{employeeService.form.controls['PriorityId'].value?"Modify Priority":"New Priority"}}</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
</mat-toolbar>
<form [formGroup]="employeeService.form" class="normal-form" (submit)="onSubmit()">
  <mat-grid-list cols="1" rowHeight="100px">
    <mat-grid-tile>
      <div class="controles-container">
        <input type="hidden" formControlName="PriorityId">
        <input type="hidden" formControlName="PriorityDeleteFlag">
        <mat-form-field>
          <input formControlName="PriorityName" matInput placeholder="Priority Name*">
          <mat-error>This field is mandatory.</mat-error>
        </mat-form-field>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="controles-container">
        <div class="button-row">
          <button mat-raised-button color="primary" type="submit" [disabled]="employeeService.form.invalid">Submit</button>
          <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</form>